.comments-review {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 50%, rgba(226,226,226,1) 100%);
}

#movieTitleList {
    font-family: Arial, Helvetica, sans-serif;
}
