#genre {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

#plot {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: block;
}

.movieListCard {
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.searchMovieList {
  display: block;
}

.containerMovieList {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(227, 227, 227, 1) 50%,
    rgba(172, 172, 172, 1) 100%
  );
}
